.campaign {
  width: 100%;
  margin: var(--p3) 0;
  max-width: 400px;
  display: flex;
  flex-direction: column;

  background-color: white;
  overflow: hidden;
  border-radius: var(--br4);

  @media (min-width: 40em) {
    margin: var(--p3);
    max-width: 300px;
    width: calc(50% - var(--p4));
  }

  @media (min-width: 60em) {
    width: calc(33.3% - var(--p4));
  }
}

.header {
  width: 100%;
  overflow-y: hidden;
  position: relative;
  padding-top: 56.25%; /* 4:3 aspect ratio */

  & .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.main {
  padding: var(--p3);
  padding-bottom: var(--p4);
  flex-grow: 1;

  & a {
    text-decoration: none;
  }

  & h3 {
    text-transform: uppercase;
    font-weight: 600;
    color: var(--red-800);
    font-size: var(--f3);
    margin-bottom: var(--p2);
  }

  & p {
    color: var(--grey-800);
    font-size: var(--f5);
    line-height: 1.2;
  }
}

.underline {
  border-bottom: 3px solid var(--grey-800);
  width: 100px;
  margin-bottom: var(--p4);
}

.footer {
  padding: var(--p3);
  padding-top: var(--p4);
  display: flex;
  justify-content: flex-end;
  align-items: center;

  & .from {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  & p {
    text-align: center;
    color: var(--grey-800);
    font-size: var(--f5);
    font-weight: 600;
    margin-bottom: var(--p1);
  }

  & h4 {
    text-align: center;
    color: var(--red-800);
    font-size: var(--f4);
    font-weight: 600;
  }
}

.donateButton {
  margin-left: var(--p3);
  display: block;
  flex-grow: 0;
  background-color: var(--red-800);
  color: white;
  font-size: var(--f4);
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  padding: var(--p2) var(--p3);
  text-decoration: none;

  &:hover {
    background-color: var(--red-900);
    cursor: pointer;
  }
}
