.cardWrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--p3);
  row-gap: var(--p3);
  align-items: center;

  & > * {
    grid-column-end: span 2;

    @media (min-width: 40em) {
      grid-column-end: span 1;
    }
  }
}

.formWrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--p3);
  row-gap: var(--p3);
}

.input {
  grid-column-end: span 2;
}

.halfInput {
  grid-column-end: span 1;
}
