.main {
    padding: var(--p4) var(--p3);
    box-sizing: border-box;
  
    @media (min-width: 40em) {
      max-width: 800px;
      margin: 0 auto;
    }
}

.title {
  font-size: var(--f3);
  font-weight: 600;
  color: var(--grey-800);
}

.underline {
  border-bottom: 3px solid var(--red-800);
  width: 150px;
  margin: var(--p3) 0;
  margin-bottom: var(--p4);
}