.button {
  display: block;
  width: 100%;
  background-color: var(--red-800);
  color: white;
  font-size: var(--f4);
  text-align: center;
  font-weight: 600;
  border: none;
  padding: var(--p3) var(--p3);
  text-decoration: none;
  box-sizing: border-box;
  margin-top: var(--p3);

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: var(--red-900);
    cursor: pointer;
  }

  &:disabled {
    background-color: var(--grey-400);
    cursor: not-allowed;
  }
}

.icon {
  margin-right: var(--p3);
  height: var(--f3);
  fill: white;
}

.buttonInner {
  display: flex;
  align-items: center;
  justify-content: center;
}
