.social {
  padding: var(--p5) var(--p3);
}

.title {
  font-size: var(--f2);
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  color: var(--grey-800);

  & .highlight {
    color: var(--red-800);
  }
}

.underline {
  border-bottom: 3px solid var(--red-800);
  width: 200px;
  margin: var(--p3) auto;
  margin-bottom: var(--p5);
}

.wall {
  @media (min-width: 40em) {
    max-width: 1200px;
    margin: 0 auto;
  }
}

:global {
  li.feed-item {
    border: 0 !important;
    border-radius: var(--br4);
    overflow: hidden;

    &.juicer {
      display: none !important;
    }

    &:nth-child(n + 3) {
      display: none !important;
    }
  }

  .j-poster {
    background-color: var(--grey-300);

    h3 {
      color: var(--red-800) !important;
    }
  }

  .j-date {
    color: var(--grey-700) !important;
  }

  .j-instagram {
    color: var(--purple-700) !important;
  }

  .j-logo {
    background-color: white;
  }

  .j-message {
    p {
      line-height: 1.5;
      display: -webkit-box;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
