.main {
  box-sizing: border-box;
  min-height: calc(100vh - 8em);
  padding: var(--p4) var(--p3);

  @media (min-width: 40em) {
    max-width: 600px;
    margin: 0 auto;
  }
}

.box {
  background-color: var(--grey-200);
  border-radius: var(--br4);
  overflow: hidden;
}

.header {
  width: 100%;
  overflow-y: hidden;
  position: relative;
  padding-top: 56.25%; /* 4:3 aspect ratio */

  & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.content {
  padding: var(--p4) var(--p3);

  & h2 {
    font-size: var(--f2);
    color: var(--green-800);
    font-weight: 600;
    text-align: center;
    margin-bottom: var(--p3);
  }

  & .orderDetails {
    text-align: center;
    font-size: var(--f5);
    color: var(--grey-600);
    line-height: 1.2;
    margin-bottom: var(--p4);
  }

  & .follow {
    text-align: center;
    font-size: var(--f5);
    color: var(--grey-800);
    line-height: 1.2;
    margin-bottom: var(--p4);
  }

  & .bold {
    font-weight: 600;
  }
}

.info {
  background-color: var(--grey-300);
  padding: var(--p3);
  display: grid;
  row-gap: var(--p2);
  margin-bottom: var(--p4);

  & p {
    font-size: var(--f5);
    color: var(--grey-900);
    line-height: 1.2;
  }
}

.socialBar {
  display: flex;
  align-items: center;
  justify-content: center;

  & .separator {
    border-right: 1px solid var(--grey-700);
    margin: 0 var(--p5);
    height: var(--h3);
  }

  & .instagram {
    font-size: var(--f1);
    color: var(--purple-700);

    &:hover {
      color: var(--purple-900);
    }
  }

  & .facebook {
    font-size: var(--f1);
    color: var(--blue-600);

    &:hover {
      color: var(--blue-900);
    }
  }
}
