.container {
  margin-top: var(--p4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-wrap: break-word;
  word-break: break-word;

  @media (min-width: 40em) {
    margin-top: 0;
    margin-left: var(--p4);
    max-width: 400px;
  }
}

.instruction {
  font-size: var(--f5);
  font-weight: 600;
  color: var(--grey-700);
  line-height: 1.5;
  margin-bottom: var(--p3);
  display: flex;
  align-items: center;

  & .highlight {
    color: var(--grey-900);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.iconWrap {
  margin-right: var(--p2);
  color: var(--red-400);

  & .iconText {
    font-size: var(--f4);
  }
}

.copyPaste {
  font-family: var(--monospace);
  font-weight: 300;
  color: black;
  font-size: 8px;
  border: 1px solid var(--grey-400);
  border-radius: var(--br2);
  padding: var(--p1);
  line-height: 2.1;
}
