.main {
  padding: var(--p4) var(--p3);
  box-sizing: border-box;

  @media (min-width: 40em) {
    max-width: 800px;
    margin: 0 auto;
  }
}

.title {
  font-size: var(--f3);
  font-weight: 600;
  color: var(--grey-800);
}

.underline {
  border-bottom: 3px solid var(--red-800);
  width: 150px;
  margin: var(--p3) 0;
  margin-bottom: var(--p4);
}

.formWrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--p3);
  row-gap: var(--p3);
  margin-bottom: var(--p4);
}

.buttons {
  margin-top: var(--p4);
}

.input {
  grid-column-end: span 2;

  @media (min-width: 40em) {
    grid-column-end: span 1;
  }
}
