.checkoutForm {
  padding: var(--p4) var(--p3);
  padding-bottom: var(--p5);
  box-sizing: border-box;
  display: grid;
  row-gap: var(--p5);

  @media (min-width: 40em) {
    max-width: 800px;
    margin: 0 auto;
  }
}
