.header {
  background-image: url(../assets/hero-back.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;

  @media (min-width: 40em) {
    height: 150px;
    background-size: 40%;
    background-repeat: repeat-x;
  }
}

.headerInside {
  box-sizing: border-box;
  height: 100%;
  backdrop-filter: brightness(30%) blur(1px);

  & .bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--p3);
  }

  & .leftBar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.call {
  font-size: var(--f3);
  display: none;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--grey-300);
  margin-left: var(--p3);

  & .highlight {
    color: var(--red-600);
  }

  @media (min-width: 40em) {
    display: block;
    max-width: 250px;
    line-height: 1.2;
  }

  @media (min-width: 60em) {
    max-width: 1000px;
  }
}

.call.out {
  text-align: center;
  display: block;
  padding-top: var(--p3);
  margin-left: 0;

  @media (min-width: 40em) {
    display: none;
  }
}

.logoWrap {
  background-color: white;
  padding: var(--p2);
  border-radius: var(--br4);
}

.logo {
  height: var(--h3);
  position: relative;
  z-index: 8;

  @media (min-width: 40em) {
    height: calc(var(--h3) + var(--h2));
  }
}

.badge {
  background-color: var(--red-800);
  color: white;
  font-weight: bold;
  padding: 0 var(--p2);
  border-radius: var(--br-pill);
}

.buttonBar {
  display: flex;
  align-items: center;
}

.separator {
  border-right: 1px solid var(--grey-300);
  margin: 0 var(--p3);
  height: var(--h2);
}

.socialIcon {
  font-size: var(--f3);
  color: white;

  &:hover {
    color: var(--grey-400);
  }
}

.barItem {
  color: white;
  font-size: var(--f6);
  text-decoration: none;

  &:hover {
    color: var(--grey-400);
  }

  @media (min-width: 40em) {
    font-size: var(--f5);
  }
}
