.main {
  box-sizing: border-box;
  min-height: calc(100vh - 8em);
  padding: var(--p4) var(--p3);
  padding-top: calc(var(--p6) + var(--p3));

  @media (min-width: 30em) {
    max-width: 800px;
    margin: 0 auto;
  }
}

.title {
  font-size: var(--f3);
  font-weight: 600;
  color: var(--grey-800);
}

.underline {
  border-bottom: 3px solid var(--red-800);
  width: 150px;
  margin: var(--p3) 0;
  margin-bottom: var(--p4);
}
