.details {
  padding: var(--p5) var(--p4);
}

.title {
  font-size: var(--f1);
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  color: var(--red-800);
}

.featured {
  text-transform: uppercase;
  font-size: var(--f5);
  color: var(--grey-500);
  margin-bottom: var(--p2);
  text-align: center;
}

.underline {
  border-bottom: 3px solid var(--grey-800);
  width: 200px;
  margin: var(--p3) auto;
  margin-bottom: var(--p5);
}

.description {
  font-size: var(--f5);
  text-align: center;
  color: var(--grey-800);
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: var(--p5);
  line-height: 1.2;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 40em) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.carouselWrapper {
  margin-bottom: var(--p4);
  width: 100%;

  @media (min-width: 40em) {
    max-width: 400px;
    margin: var(--p4);
  }

  & .carousel {
    width: 100%;
  }

  & img {
    width: auto;
  }
}

.dotGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: var(--p3) 0;

  & button {
    height: calc(var(--h1) / 2);
    width: calc(var(--h1) / 2);
    background-color: var(--grey-500);
    border: none;
    margin: 0 var(--p1);
    padding: 0;
    border-radius: var(--br-circle);
  }

  & button:disabled {
    background-color: var(--grey-800);
  }
}

.donations {
  flex: 1;
  background-color: red;

  @media (min-width: 40em) {
    margin: var(--p4);
    max-width: 600px;
  }
}
