.hero {
  background-image: url(../assets/hero-back.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;

  @media (--large) {
    background-size: contain;
    background-repeat: repeat-x;
  }
}

.heroBackdrop {
  height: 100%;
  backdrop-filter: brightness(50%) blur(1px);
}

.heroInside {
  background-color: rgba(0, 0, 0, 0.5);
  padding: var(--p3);
  padding-top: var(--p5);
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: justify;
  font-size: 12vw;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--grey-300);
  margin-bottom: var(--p4);

  & .highlight {
    color: var(--red-600);
  }

  @media (min-width: 30em) {
    font-size: 3rem;
  }
}

.subtitle {
  text-align: center;
  color: white;
  font-size: var(--f5);
  font-weight: 300;
  line-height: 1.2;
  max-width: 600px;

  & p {
    margin-bottom: var(--p2);
  }

  & p:nth-child(2) {
    font-weight: 600;
  }
}
